# ipynb and pychache
*.ipynb_checkpoints
__pycache__

# experimental Code
*_exp_*

# data
Data/*.npy

#ignore all subdirectories in data and all files in them
Data/*/*
Data/*/*/*

Checkpoint*/*
*.out
*.html
log/*
/log
*.log

Results*/*